@charset "utf-8";

.container {
    width: min(100% - 30px, 1400px);
    margin-inline: auto;
}

/* these are the variables for the color paletter... to use it do "var(--primary-color)"*/
:root {
    --primary-color: #0A66C2;
    --cards-color: #fcfcfc;
    --on-primary-color: #fff;
    --background-color: #eeeeee;
    --button-padding: 12px 24px;
    --button-radius: 5px;
    --primary-dark: #05407b;
}

body {
    font-family: "Inter", "Open Sans", "Lato", Arial, sans-serif;
    background-color: var(--background-color);
}

.flex{
    display: flex;
}

header {
    height: 56px;
    background-color: var(--cards-color);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.04);
}

footer {
    height: 60px;
    background-color: aliceblue;
}

.gap-40 {
    gap: 40px;
}

section {
    margin-top: 40px;
    height: calc(100dvh - 56px);
}

.column {
    border-radius: 5px;
}

aside {
    width: 50%;
    height: 400px;
    border: 1px solid #000;
}

.second-column {
    width: 100%;
    height: 400px;
}

/* Ayomides code goes here for the prople section*/






/* Ashedzi code goes here for the prople section*/
/* ----------Header--------- */
.center {
    justify-content: center;
    align-items: center;
}

.gap-20 {
    gap: 20px;
}

.gap-8 {
    gap: 8px;
}

.column-direction {
    flex-direction: column;
}

.gap-80 {
    gap: 80px;
}

.align-items {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.hamburger {
    font-size: 24px;
    color: #000;
    display: none;
    background: none;
    border: none;
    padding: 10px;
}
  
h1 {
    position: relative;
    right: 2px;
    line-height: 20px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    place-content: center;
}
  
nav .nav-list {
    list-style: none;
}
  
nav .nav-list li {
    display: inline;
    line-height: 56px;
  
    a {
        text-decoration: none;
        color: #525252;
        font-size: 1.6rem;
        font-weight: 500;
    
        &:hover {
            color: var(--primary-colour);
            transition: color 0.25s ease-in-out;
        }
    }
}
  
  .nav-list li + li {
    margin-left: 24px;
  }
  
  .search-bar {
    align-items: center;
    margin-left: 40px;
  }
  
input[type=text] {
    width: 100%;
    height: 38px;
    padding: 0 15px 0 32px;
    border-radius: 50px;
    transition: all 0.25s ease-in-out;
    background: #f6f6f6 url(../img/search-icon2.png) no-repeat 10px 11px;
    background-size: 14px;
    border: 1px solid transparent;
  
    &:focus {
        border: 1px solid var(--primary-color);
    }
}

.logout {
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-weight: 600;
    font-size: 1.4rem;
    text-decoration: none;
}

.post-container, .uploads{
    padding: 12px;
    margin-inline: auto;
    width: 100%;
    color: #000;
    border-radius: 4px;
    background-color: var(--cards-color);
}


.post-container {
    height: 120px;
}

.uploads-container {
    width: 100%;
}

textarea {
    resize: none;
    width: 100%;
    height: auto;
    flex-grow: 1;
    background-color: transparent;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--font-color);
}

input[type=file] {
    display: none;
}

label {
    cursor: pointer;
    color: #6A6A6A;
    font-size: 1.9rem;
    align-self: flex-end;
    line-height: 1;
    overflow: hidden;
}

.file-name {
    font-size: 1.2rem;
    color: #6A6A6A;
    font-weight: 600;
}

input[type=button] {
    padding: 8px 16px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--on-primary-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: auto;

    &:hover {
        background-color: var(--primary-dark);
        transition: background-color 0.25s ease-in-out;
    }
}

.bottom-inputs {
    margin-top: 8px;
}

/* .uploads {
    padding: 12px;
    margin-inline: auto;
    margin-top: 40px;
    width: 100%;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
} */

.user-info {
    p {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.post-date {
    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}


.bottom-inputs {
    margin-top: 8px;
}


.user-info {
    p {
        font-size: 1.4rem;
        font-weight: 600;
    }
}

.post-date {
    p {
        font-size: 1.3rem;
        font-weight: 400;
    }
}

.avartar {
    width: 30px;
    height: 30px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.content-uploaded {
    margin-top: 20px;

    p {
        font-size: 1.5rem;
    }

    figure {
        scale: 1/1;
        margin-top: 8px;

        img {
            border-radius: 5px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.uploads + .uploads {
    margin-top: 20px;
}